button {
    background-color: darkblue;
    border: solid 2px white;
    border-radius: 32px;
    padding: auto;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 900;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
}